.app {
  background: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-bottom: 2rem;
  width: 500px;
}

.container {
  width: 500px;
  background: #e74c3c;
  color: white;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}