.forecast {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;

  td {
    border-top: 1px solid rgba(255, 255, 255, 0.125);
    padding: .5rem 2rem;
  }

  &__day { font-weight: bold; padding-left: 0 !important; }
  &__icon { width: 100%; }

  &__temp {
    span:nth-of-type(2) {
      font-size: .8em;
      vertical-align: text-top;
      color: rgba(255, 255, 255, .75);
    }
  }
}