.icon {
  text-align: center;
  
  i {
    padding: 1.5rem 0;
    font-size: 7rem;
  }
}

.name {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: rgba(255, 255, 255, .75);
  padding-bottom: .5rem;
}