* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  background: #fafafa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 300px;
  background: #e74c3c;
  color: white;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}